.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-100px) translateX(100px);
  }
  50% {
    transform: translateY(0) translateX(200px);
  }
  75% {
    transform: translateY(100px) translateX(100px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.ball:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-duration: 8s;
}

.ball:nth-child(2) {
  top: 20%;
  left: 50%;
  animation-duration: 12s;
}

.ball:nth-child(3) {
  top: 70%;
  left: 30%;
  animation-duration: 10s;
}

.ball:nth-child(4) {
  top: 50%;
  left: 80%;
  animation-duration: 14s;
}

.ball:nth-child(5) {
  top: 80%;
  left: 60%;
  animation-duration: 9s;
}